.jumbotron
  %legend
    %h1 Decoration
    
  %b Duration:
  19th December to 31st December 2013
  %br/
  %b Location:
  Bihar
  %br/
  %b Rewards:
  %ul
    %li A Certificate,
    %li Travel expenses covered,
    %li Lunch expenses covered.
