.jumbotron
  %legend
    %h1 District Event Manager
    
  %p
    %b Duration:
    20th December to 31st December 2013
    %br/
    %b Location:
    Bihar
    %br/
    %b Rewards:
    %ul
      %li A certificate,
      %li Travel expenses covered,
      %li Lunch expenses covered.
      
  %p
    %legend
      %h2.text-primary Internship description
    This is a fantastic opportunity for a graduate/undergraduate to get thorough grounding in the in's and out's of the events industry. As a District Event Manager Intern, you'll be a part of the event team who will be responsible for planning and delivering a large-scale event in each District, which will take place in all the 38 districts of Bihar.
    
    %br/
    %br/
    
    %b Tasks interns should expect to learn about and undertake would include:-
    %ul
      %li Understanding how speaker, delegate and exhibitor communication and registration operates.
      %li An in-depth appreciation of event logistics.
      %li On-site event production.
      %li The process of inter-school cultural competition.
      %li Publishing event information.
      
    %b The most suitable intern for this position would have the following abilities:-
    %ul
      %li Dynamic, motivated and a strong academic achiever.
      %li Interested in starting a career in events.
      %li Confident working with senior level clients.
      %li Good written and numerical skills.
      %li Strong communication skills and very client focused.
      %li Excellent IT skills.
      
  %center
    %h3.text-info 
      Cash incentives will also be given to the candidates depending on the work.
      %br/ 
      Decision taken by the organising committee shall be final regarding this.
