.jumbotron
  %legend
    %h1 Hospitality
    
  %p
    %b Duration:
    20th December to 31st December 2013
    %br/
    %b Location:
    Bihar
    %br/
    %b Rewards:
    %ul
      %li A certificate,
      %li Travel expenses covered,
      %li Lunch expenses covered.
      
  %legend
    %h2.text-primary Job Description:
    %ol
      %li The approximate footfalls for event in each district would be 10,000+ so you are expected to be good at crowd management.
      %li You should be creating and inviting a list of chief guests for the event in each district.
      %li You should ensure that sponsors are well taken care of.
      %li Meeting with all students and principals at the end of the festival to inspect pitches, finalize arrangements, gain feedback and assist in load out process.
