.jumbotron
  %legend
    %h1 Infrastructure
    
  %p
    %b Duration:
    20th December to 31st December 2013
    %br/
    %b Location:
    Bihar
    %br/
    %b Rewards:
    %ul
      %li A certificate,
      %li Travel expenses covered,
      %li Lunch expenses covered.
      
  %legend
    %h2.text-primary Job Description:
  %ol
    %li You will be taking care of all the infrastructure involved in the event.
    %li You would also be dealing with the requirements and setup for the stage such as light, sound, seating arrangements.
    %li You should ensure that stalls for sponsors are ready before the event
    %li Liasing with on the site construction team, electricians, site manager, health & safety manager and stewards throughout the festival, ensuring everything is running smoothly and artworks are protected throughout their stay on site.
  %center
    %h3.text-danger The approximate footfalls for event in each district would be 10,000+
