.jumbotron
  %legend
    %h1 Marketing
    
  %p
    %b Duration:
    20th December to 31st December 2013
    %br/
    %b Location:
    Bihar
    %br/
    %b Rewards:
    %ul
      %li A certificate,
      %li Travel expenses covered,
      %li Lunch expenses covered.
      
    %br/
    
    Interns will gain exposure to every aspect of marketing, sponsorship, event and promotions industry. Day-to-day tasks include competitive research on brands and their activity in the sponsorship industry, making initial contact with sponsorship properties on behalf of
    %b UDGHOSH.
    %br/
    The Interns may be required to travel to different states.
