.jumbotron
  %legend
    %h1 Publicity
    
  %p
    %b Duration:
    20th December to 31st December 2013
    %br/
    %b Location:
    Bihar
    %br/
    %b Rewards:
    %ul
      %li A certificate,
      %li Travel expenses covered,
      %li Lunch expenses covered.
      
  %legend
    %h2.text-primary Job Description:
  %ol
    %li Daily briefing, management and monitoring of social media, publicity agencies and campaigns.
    %li Maintain press asset, clippings, coverage and media contact databases.
    %li Review and evaluate all relevant publicity campaigns and their effectiveness.
    %li Telephone and email follow-ups of asset blasts and press releases.
    %li Deal with telephone and email enquiries from the press and general public.
    %li Take notes during meetings and type up minutes and action points for attendees.
    %li Assist UDGHOSH team and/or agencies with events and junkets.
      
  %legend
    %h2.text-primary Skills Required:
  %ol
    %li Must be self-motivated, focused and be able to work with limited supervision.
    %li Must be able to communicate with people at all levels in a professional and mature manner.
    %li Must be analytical and pay close attention to detail.
    %li Must have good understanding of the media landscape for news coverage, across print, online and broadcast.
    %li Must have a good understanding of social media and emerging digital media.
    %li Must be able to provide thoughtful reviews and summaries of tasks assigned.
    %li Must be a team player and able to work within a matrix organization.

