%legend
  %h1 PCMB Test
  
%p This is for the senior school students who wish to pursue Engineering/Medicine. Write the test and stand a chance to win scholarship and inch a step closer to your goal.

%p Register now and have a chance to win several exciting goodies and certificate of participation at the end of ceremony.

%h3 Rewards:
%ul
  %li Certificates and prizes for top 3 winners from each district.
  %li Certificates and scholarship for top 10 winners from the state.

%hr/

.well
  %legend
    %h2.text-warning PCMB Test Registration

  = render 'form'

