.jumbotron
  %h1 India's biggest cultural movement begins from the land of Bihar.
  %hr/
  %h2 Registration for schools is open!
  %hr/
  = link_to "Register now!", new_school_path, class: "btn btn-success btn-lg"
  = link_to "Download invitation brochure for schools", asset_path("invitation_brochure.pdf"), target: "_blank", class: "btn btn-danger btn-lg"

