
%legend
  %h1
    Schedule
    
%table.table.table-hover.table-bordered
  %thead
    %tr
      %th District
      %th District
      %th District
      %th District
      %th District
      %th Elimination Round
      %th Final Round
  %tbody
    %tr
      %td Patna
      %td Muzaffarpur
      %td Gaya
      %td 
      %td 
      %td 20
      %td 21
    %tr
      %td Chapra
      %td Vaishali
      %td Begusarai
      %td Saran
      %td Nawada
      %td 21
      %td 22
    %tr
      %td Jehanabad
      %td Samastipur
      %td Munger
      %td Siwan
      %td Nalanda
      %td 22
      %td 23
    %tr
      %td Aurangabad
      %td Darbhanga
      %td Khagaria
      %td Gopalganj
      %td Sheikhpura
      %td 23
      %td 24
    %tr
      %td Rohtas
      %td Madhubani
      %td Saharsa
      %td Paschimi Champaran
      %td Lakhisarai
      %td 24
      %td 25
    %tr
      %td Kaimpur
      %td Supaul
      %td Madhepura
      %td Purbi Champaran
      %td Jamui
      %td 25
      %td 26
    %tr
      %td Buxar
      %td Araria
      %td Purnia
      %td Sheohar
      %td Banka
      %td 26
      %td 27
    %tr
      %td Bhojpur
      %td Kishanganj
      %td Katihar
      %td Sitamarhi
      %td Bhagalpur
      %td 27
      %td 28
      
%p.col-sm-6
  %strong.col-sm-4 Grand Finale (Elimination Round):
  %span.col-sm-4 Top 30 teams from 38 Districts
  %span.col-sm-4 30th

%p.col-sm-6
  %strong.col-sm-4 Grand Finale (Final Round):
  %span.col-sm-4 Top 15 teams from Elimination Round
  %span.col-sm-4 31st

