.jumbotron
  %legend
    %h1 Sponsors
  %p For sponsorship queries, contact:
  .row
    %center.col-sm-6
      %strong Praveen Kumar
      %br/
      +91 7503340203
    %center.col-sm-6
      %strong Vaibhav Anand
      %br/
      +91 8506851957
  %hr/
  %center= link_to "Download the Sponsorship Brochure.", "#", class: "btn btn-danger btn-lg"
