%img.img-rounded(src="#{asset_path('events_dance.png')}" style="width: 100%;")

%legend
  %h1 Dance
  
%p
  %strong Category 1:
  Under Age 12
  %br/
  %i Time for each performance:
  3-5 minutes
  
%p
  %strong Category 2:
  Above Age 12
  %br/
  %i Time for each performance:
  3-5 minutes
