.jumbotron
  %legend
    %h1
      Dramatics
      %small Your 20 minutes to fame!
      
  %p The stage is set! It’s your chance to let the world know the theatre artist in you! It doesn’t matter if this is your first time because there is a first time to everything. So, knock it off! Let the curtains lift. Let the world watch you. The time has come to flaunt your acting skills, impress the judges and get away with some awesome prizes and of course, recognition in just 20 minutes!

  %legend
    %h2 Details
  
  %p
    %strong Time for Each performance:
    15-20 minutes.
  
  %hr/

  %center
    %strong.text-success Certificates and prizes for the top 3 winners! Register now!
  
  %hr/

  %p
    %strong Choose your theme for performing from among the following and get going!
    %ul
      %li Child Marriage,
      %li Education after Marriage,
      %li Education System,
      %li Brain Drain,
      %li Corruption,
      %li Migration of innocents to different states.
      

