%legend
  %h1 Fashion show
  
%img.img-rounded(src="#{asset_path('events_fashion.jpg')}" style="width: 100%;")

%hr/

%center
  %h2.text-warning Registration only for students of  classes 6 and below.

