.jumbotron
  %legend
    %h1
      Quizzing
      
  %ul
    %li Who got defeated in the Battle of Plassey?
    %li Which is the most stable eco system?
    %li Which is the longest river in the world?
      
  %p If you think this is where your interest lies, then pull up your socks for the most anticipated quiz contest where our quiz masters will get to know whether you have it in you or not! Let the adrenaline rush through your brain. Only the best will survive in the war of intellect! Are you ready for the showdown? Register now!

  %hr/

  %legend
    %h2 Details
  
  %ul
    %li The contest will be conducted in two rounds where teams from different schools compete against each other.
    %li Round 1 is the elimination round.
    %li 7 teams will reach round 2 in which they will be competing for the top 3 positions.
    %li The top 3 teams will receive certificates and prizes.

  %hr/

  %legend
    %h2 Topics
  
  %ul
    %li History
    %li Geography
    %li General Science

