.well
  %legend
    %h1
      UDGHOSH
      %small Your chance to be part of India's biggest youth centred cultural movement.
      
  %p Today when a student steps out of his/her town or state for higher education he/ she finds a major difficulty in adjusting to the new surroundings. This is mainly because they were never given a chance to open up before. This not only lowers their confidence and academic performance but also changes their outlook towards life to a negative one by sending them deep down in the abyss of depression and loneliness. Looking at the needs of such students, we thought of organising such events at district level of each state starting from the state of Bihar.
  
  %strong The movement comprises of:
  
  %hr/

  %p
    %strong Phase I
    %br/
    Students from all over India can register and those selected in the final round of interview will get the opportunity to be a part of the organizing team. Each member of organizing team will be awarded a certificate and incentives.
  
  %hr/
  
  %p
    %strong Phase II
    %br/
    The selected team would then organize cultural events in all the 38 districts of Bihar followed by two semi-final and a final event in Patna-the capital city of Bihar.
